<div class="container-fluid col-md-4 text-center">
  <h1><kbd>New Game</kbd></h1>
  <%= form_with scope: :game, url: games_play_path, local: true do |form| %>
    <p>
      <kbd><%= form.label :"Playername:" %></kbd><br>
      <%= form.text_field :player, required: true %>
    </p>

    <p>
      <%= form.submit "Start", class: "btn btn-success" %>
    </p>
  <% end %>
</div>